<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="blogs context">
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore explicabo praesentium inventore maiores blanditiis! Quibusdam earum quas sapiente molestiae porro laborum nostrum, ullam accusantium assumenda magni temporibus fugit ad illo.</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta pariatur veritatis doloremque dolorem asperiores tempore laborum quo, nostrum, incidunt unde nihil nemo! Similique animi aperiam ducimus unde? Dolore, incidunt necessitatibus!</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae cum eos aspernatur saepe eius cumque dolor unde, culpa quos nostrum dolorem architecto ipsam reprehenderit laboriosam voluptates error excepturi natus fugiat!</p
        >
    </div>
    <%- include('./partials/foot.ejs')%>  
</body>
</html>